<div class="col-md-12 top">
  <h1 class="text-left">EIA-Google</h1>
  <h5 class="text-left">Helping developers find the API feed they need since 2014</h5>

  <%= form_tag search_path, method: 'get', role: 'search' do %>
    <div class="input-group">
      <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search...' %>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>

    <div id="form-options" class="clearfix">
      <div class="btn-group pull-left">
        <% params.slice(:a, :c, :s).each do |name, value| %>
          <%= hidden_field_tag name, value %>
        <% end %>
      </div>

      <div class="btn-group pull-right">
        <p style="float: left; margin: 0.1em 0 0 0"><small>Displaying <%= (params[:page] || 1).to_i.ordinalize %> page with <%= @series.size %> series
                   of <strong>total <%= @series.total %></strong></small></p>

        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left: 0.5em">
          <% sort = 'relevancy'%>
          sorted by <%= sort.humanize.downcase %> <span class="caret"></span>
        </button>
      </div>
    </div>
  <% end %>

  <hr>
</div>

<% if @series.size < 1 && (suggestions = @series.response.response['suggest']) && suggestions.present?  %>
<div class="col-md-12">
  <p class="alert alert-warning">
    No documents have been found. Maybe you mean
    <%= suggestions.map { |k,v| v.first['options'] }.flatten.map {|v| v['text']}.uniq.map do |term|
      link_to term, search_path(params.merge q: term)
    end.to_sentence(last_word_connector: ' or ').html_safe %>?
  </p>
</div>
<% end %>
<div class="col-md-9">
  <div id="results">
    <% @series.each_with_index do |series, index|  %>
    <% series_2 = @series_2[index] %>
      <div class="result">
        <h4 class="title">
          <%= (series.try(:highlight).try(:name) ? series.highlight.name.join.html_safe : series.name) %>
        </h4>

        <p class="body">
          <% if series.try(:highlight).try(:description) %>
            <%= series.highlight.description.join.html_safe %>
          <% end  %>
        </p>
        <p class="text-muted">
          <small>Score: <%= series._score.round(4) %></small>
        </p>
        <p class="text-muted">
          <% url = "http://www.eia.gov/beta/api/qb.cfm?category=#{series_2.category_id}&sdid=#{series_2.series_id}" %>
          API source: <%= link_to url,url %>

        </p>
      </div>
    <% end %>
  </div>

  <ul class="pager">
    <li class="previous"><%= link_to_previous_page @series, 'Previous Page', params: params.slice(:q, :c, :a, :comments) %></li>
    <li class="next"><%= link_to_next_page     @series, 'Next Page', params: params.slice(:q, :c, :a, :comments) %></li>
  </ul>

</div>

<div class="footer <%= @series.size < 1 ? 'col-md-12' : 'col-md-9 col-md-offset-3' %>">
  <p><small>Content provided by the <a href="http://www.eia.gov/"><em>U.S. Energy Information Administration</em></a>.</small></p>
</div>
