<h1>Listing authorships</h1>

<table>
  <thead>
    <tr>
      <th>Article</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authorships.each do |authorship| %>
      <tr>
        <td><%= authorship.article %></td>
        <td><%= authorship.author %></td>
        <td><%= link_to 'Show', authorship %></td>
        <td><%= link_to 'Edit', edit_authorship_path(authorship) %></td>
        <td><%= link_to 'Destroy', authorship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorship', new_authorship_path %>
